body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #030216;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body,html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

.gradient-text {
  background-color: #f3ec78;
  background: linear-gradient(45deg, rgba(255,0,232,1) 0%, rgba(0,255,192,1) 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.bg-gradient-custom {
  /* background: linear-gradient(45deg, #141d96 0%, rgb(6, 112, 158) 100%); */
  background: rgb(45, 0, 208);
  
}

.bg-gradient-custom:hover {
  background: rgb(45, 0, 208);
  opacity: .9;
}

#stocks-table {
  --bs-table-color: white;
  --bs-table-striped-color: white;
  --bs-table-bg: linear-gradient(90deg, rgba(0,24,95,1) 0%, rgba(1,12,45,1) 100%);
  border-color: transparent;
  margin: 0;
}

.stocks-table-row {
  background: linear-gradient(90deg, rgba(0,24,95,1) 0%, rgba(1,12,45,1) 100%);
  cursor: pointer;
}

.stocks-table-row-striped {
  background: linear-gradient(90deg, rgba(1,12,45,1) 0%, rgba(0,24,95,1) 100%);
}

.stocks-table-row:hover{
  opacity: .8;
}

.table .stocks-table-cell {
  padding: 20px;
}

.table-responsive {
  border-radius: 20px;
}